body {
  background-color: #66b065;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Noto Sans', sans-serif;
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 34px;
  height: 80vh;
  width: 80%;
  margin: 2px;
  background-color: #323d49;
}
.form {
  /* border: 1px solid #eee; */
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 15px;
  margin-top: 25px;
  /* position: relative; */
}
#task {
  height: 1.5rem;
  width: 98%;
  background-color: #566976;
  color: #eee;
  padding: 10px;
  border-radius: 10px;
  border-style: none;
}
#innerform {
  display: flex;
  width: 100%;
  border-radius: 10px;
  justify-content: space-around;
  background-color: #566976;
}
#innerform div{
  width: 20%;
  margin: 10px;
 
}
#task-list-container {
  overflow: auto;
  width: 100%;
}
.submit-btn {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  outline: none;
  cursor: pointer;
  width: 20%;
  background-color: #6bbe92;
  border: none;
  border-radius: 34px;
  color: white;
  filter: drop-shadow(0px 4px 28px rgba(0, 0, 0, 0.25));
}
ul {
  list-style-type: none;
}
.task {
  /* border: 1px solid #eee; */
  background-color: #495763;
  padding: 0.1rem;
  margin: 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#in-div{
  height: 100px;
}

#task-list-container img {
  background-color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin:10px;
  padding: 5px;
}

.details{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: flex-start; */
}

.details div{
  /* border: 2px solid red; */
  width:24%;
  margin-bottom: 0.5rem;
}

.heading{
  color: #66b065;
  font-weight: bold;
}


input[type="date"] {
  background-color: #66b065;
  outline: none;
  border-style: none;
  padding: 4px;
  border-radius: 10px;
  font-family: 'Noto Sans', sans-serif;
  width: 10vw;
}

input[type="date"]::-webkit-clear-button {
  font-size: 18px;
  height: 30px;
  position: relative;
}

input[type="date"]::-webkit-inner-spin-button {
  height: 28px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 15px;
}

select  {
  outline: 0;
  overflow: hidden;
  height: 30px;
  background: #66b065;
  color: black;
  border: #66b065;
  padding: 5px 3px 5px 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 10px;
}

select option {border: 1px solid #000; background: #66b065;}